/*
font-family: "Momo Trust Display", sans-serif; 
font-weight: 400;
font-style: normal;
*/

/* 
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
*/

body {
    background: #000;
    color: #fff;
    margin: 0;
}

@media (min-width: 768px) {
    body {
        font-size: 15px;
    }
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: radial-gradient(ellipse, transparent 70%, black 100%), linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(./img/fondo.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.fondogris {
    background-color: rgba(27, 27, 27, 0.644);
    border: rgb(114, 114, 114) solid 1px;
    border-radius: 5px;
    padding: 5px 40px 5px 30px;
    margin-right: 10px;
    text-decoration: none;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.fondorojo {
    background-color: red;
    border-radius: 5px;
    padding: 7px 15px 7px 15px;
    text-decoration: none;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 11%;
}

.titulo {
    width: 150px;
    height: 60px;
    object-fit: cover;
}

.menu {
    position: relative;
    text-align: center;
}

.menu h1{
    padding-top: 77px;
    text-align: center;
    font-size: 3.1rem;
    margin-bottom: -30px;
    letter-spacing: 2px;
    font-family: "Momo Trust Display", sans-serif; 
    font-weight: 1000;
    font-style: normal;
}

.menu h3{
    margin-bottom: 20px;
    letter-spacing: 1.5px;
    text-align: center;
    padding-top: 2.5%;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.menu h4{
    margin-bottom: 10px;
    letter-spacing: 0.5px;
    text-align: center;
    padding-top: 1.3%;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.align_inicio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.email input {
    color: rgb(255, 255, 255);
    position: relative;
    background-color: rgba(20, 20, 20, 0.726);
    border: rgb(119, 119, 119) solid 1px;
    border-radius: 5px;
    padding: 19px 200px 19px 15px;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10;
    font-style: normal;
}

::placeholder {
    font-size: 15px;
    color: #bbbbbb;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10;
    font-style: normal;
}

.get {
    position: relative;
    letter-spacing: 1.5px;
    background-color: red;
    border-radius: 5px;
    padding: 13px 60px 13px 20px;
    margin-left: 10px;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
}

a {
    color: white;
}

a:hover {
    color: #dbcdcd;
}

.trending {
    position: relative;
    text-align: left;
    letter-spacing: 1.5px;
    margin-left: 135px;
    padding-top: 30px;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 2px;
}


.fila_peliculas {
    display: flex;
    padding: 2px 20px 50px 20px;
    margin-top: 5px;
    margin-left: 15px;
    gap: 30px;
    justify-content: center;
}

.pelicula {
    width: 175px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
}

.pelicula:hover {
    transform: scale(1.07);
    cursor: pointer;
}

.reasons_text {
    position: relative;
    text-align: left;
    letter-spacing: 1.5px;
    padding-top: 25px;
    margin-left: 135px;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 2px;
}

.reasons_fila {
    display: flex;
    padding: 1px 20px 20px 20px;
    margin-top: 10px;
    gap: 16px;
    justify-content: center;
}

.reasons_card {
    position: relative;
    width: 248px;
    height: 330px;
}

.reasons_card .reasons {
    width: 100%;
    height: 100%;
}

.plantilla {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    padding: 5px 12px 12px 12px;
}

.plantilla h2 {
    font-size: 1.6em;
    margin-bottom: 5px;
    line-height: 1.3;
    font-family: "Momo Trust Display", sans-serif; 
    font-weight: 400;
    font-style: normal;
}

.plantilla p {
    color: rgb(197, 197, 197);
    font-size: 1.05em;
    line-height: 1.4;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.reasons {
    object-fit: cover;
    border-radius: 15px;
    background-image: linear-gradient( #211e49, #211e49, #321a3b, #3d162e);
}

.mini_img {
    position: absolute;
    top: 75%;
    left: 65%;
    width: 70px;
    height: 70px;
    padding: 1px;
}

.questions {
    position: relative;
    text-align: left;
    letter-spacing: 1.5px;
    padding-top: 25px;
    margin-left: 135px;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 2px;
}

.acordeon-borde {
    max-width: 1040px;
    margin: auto;
    padding-bottom: 30px;
}

.acordeon input {
    display: none;
}

.acordeon__item {
    margin-top: 8px;
}

.acordeon__titulo {
    display: block;
    padding: 23px;
    background: rgb(43, 43, 43);
    font-size: 25px;
    cursor: pointer;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.acordeon__titulo:hover {
    background: rgb(82, 82, 82);
}

.acordeon__contenido {
    height: 0;
    overflow: hidden;
    margin: 0;
    transition: all 0.5s;
    background: rgb(43, 43, 43);
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.acordeon__contenido2 {
    height: 0;
    overflow: hidden;
    margin: 0;
    transition: all 0.5s;
    background: rgb(43, 43, 43);
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.acordeon input:checked ~ .acordeon__contenido{
    height: auto;
    border-top: #000 solid 1.5px;
    padding: 20px;
}

.acordeon input:checked ~ .acordeon__contenido2{
    height: auto;
    padding: 20px;
}

.questions2 {
    position: absolute;
    top: 260%;
    left: 10%;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.ready {
    position: relative;
    padding: 20px 0px 0px 0px;
    text-align: center;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
}

.email2 input {
    color: rgb(255, 255, 255);
    position: relative;
    background-color: rgba(20, 20, 20, 0.726);
    border: rgb(119, 119, 119) solid 1px;
    border-radius: 5px;
    padding: 19px 400px 19px 15px;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10;
    font-style: normal;
}

.questions3 {
    position: relative;
    margin-top: 30px;
    margin-left: 115px;
    padding: 30px 20px 20px 20px;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #afafaf;
}

.fila_container {
    margin-left: 135px;
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding-bottom: 50px;
    
}

.fila {
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.fondogris2 {
    background-color: rgba(27, 27, 27, 0.644);
    border: rgb(114, 114, 114) solid 1px;
    border-radius: 5px;
    padding: 5px 40px 5px 30px;
    margin-left: 130px;
    text-decoration: none;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.vnz {
    position: relative;
    padding: 20px;
    margin-left: 110px;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.final {
    position: relative;
    padding: 0px 20px 50px 20px;
    margin-left: 110px;
    letter-spacing: 0.5px;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.final2 {
    color: rgb(0, 89, 255);
    letter-spacing: 0.5px;
}