/* 
font-family: "Momo Trust Display", sans-serif; 
font-weight: 400;
font-style: normal;
*/

/* 
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
*/

body {
    background: #000;
    color: #fff;
}

@media (min-width: 768px) {
    body {
        font-size: 15px;
    }
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(./img/fondo.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.fondogris {
    background-color: rgb(78, 78, 78);
    border-radius: 5px;
    padding-block: 7px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
}

.fondorojo {
    background-color: red;
    border-radius: 5px;
    padding-block: 7px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 11%;
}

.titulo {
    width: 150px;
    height: 60px;
    object-fit: cover;
}

.menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 5%;
}

.menu h1{
    text-align: center;
    font-size: 3.1rem;
    margin-bottom: -30px;
    letter-spacing: 2px;
    font-family: "Momo Trust Display", sans-serif; 
    font-weight: 1000;
    font-style: normal;
}

.menu h3{
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 5%;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
}

.menu h4{
    margin-bottom: 20px;
    letter-spacing: 0.5px;
    text-align: center;
    padding-top: 5%;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.email {
    position: absolute;
    top: 65%;
    left: 25%;
    background-color: rgb(78, 78, 78);
    border-radius: 5px;
    padding-block: 16px;
    padding-left: 15px;
    padding-right: 270px;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10;
    font-style: normal;
}

.get {
    position: absolute;
    top: 67.75%;
    left: 56.5%;
    letter-spacing: 1.5px;
    background-color: red;
    border-radius: 5px;
    padding-block: 12.5px;
    padding-left: 20px;
    padding-right: 95px;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
}

a {
    color: white;
}

a:hover {
    color: #dbcdcd;
}

.trending {
    position: absolute;
    top: 120%;
    left: 15%;
    transform: translate(-50%, -50%);
    text-align: left;
    letter-spacing: 1.5px;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.pelicula {
    display: block;
    gap: 30px;
    position: absolute;
    top: 125%;
    left: 10%;
    border-radius: 10px;
}

.pelicula:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.5s ease;
}

.pelicula2 {
    display: flex;
    gap: 30px;
    position: absolute;
    top: 125%;
    left: 27%;
    border-radius: 10px;
}

.pelicula2:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.5s ease;
}

.pelicula3 {
    display: flex;
    gap: 30px;
    position: absolute;
    top: 125%;
    left: 44%;
    border-radius: 10px;
}

.pelicula3:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.5s ease;
}

.pelicula4 {
    display: flex;
    gap: 30px;
    position: absolute;
    top: 125%;
    left: 61.2%;
    border-radius: 10px;
}

.pelicula4:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.5s ease;
}

.pelicula5 {
    display: flex;
    gap: 30px;
    position: absolute;
    top: 125%;
    left: 78.3%;
    border-radius: 10px;
}

.pelicula5:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.5s ease;
}

.reasons {
    position: absolute;
    top: 180%;
    left: 10%;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 2px;
}

.reasons2 {
    position: absolute;
    top: 190%;
    left: 10%;
    border-radius: 15px;
}

.reasons3 {
    position: absolute;
    top: 190%;
    left: 30.5%;
    border-radius: 15px;
}

.reasons4 {
    position: absolute;
    top: 190%;
    left: 51%;
    border-radius: 15px;
}

.reasons5 {
    position: absolute;
    top: 190%;
    left: 71.5%;
    border-radius: 15px;
}

.plantilla {
    color: #000;
    position: absolute;
    top: 190%;
    left: 11.5%;
    font-family: "Momo Trust Display", sans-serif; 
    font-weight: 400;
    font-style: normal;
}

.plantilla2 {
    color: #000;
    position: absolute;
    top: 190%;
    left: 31.5%;
    font-family: "Momo Trust Display", sans-serif; 
    font-weight: 400;
    font-style: normal;
}

.plantilla3 {
    color: #000;
    position: absolute;
    top: 190%;
    left: 52.2%;
    font-family: "Momo Trust Display", sans-serif; 
    font-weight: 400;
    font-style: normal;
}

.plantilla4 {
    color: #000;
    position: absolute;
    top: 190%;
    left: 72.5%;
    font-family: "Momo Trust Display", sans-serif; 
    font-weight: 400;
    font-style: normal;
}

.questions {
    position: absolute;
    top: 250%;
    left: 10%;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 2px;
}

.questions2 {
    position: absolute;
    top: 260%;
    left: 10%;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.ready {
    position: absolute;
    top: 334%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.email2 {
    position: absolute;
    top: 337%;
    left: 19%;
    background-color: rgb(78, 78, 78);
    border-radius: 5px;
    padding-block: 16px;
    padding-left: 15px;
    padding-right: 450px;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10;
    font-style: normal;
}

.get2 {
    position: absolute;
    top: 340%;
    left: 64.5%;
    letter-spacing: 1.5px;
    background-color: red;
    border-radius: 5px;
    padding-block: 15px;
    padding-left: 20px;
    padding-right: 80px;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
}

.questions3 {
    position: absolute;
    top: 370%;
    left: 10%;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #afafaf;
}

.questions3-2 {
    position: absolute;
    top: 377%;
    left: 10%;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.questions4 {
    position: absolute;
    top: 377%;
    left: 35%;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.questions5 {
    position: absolute;
    top: 377%;
    left: 55%;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.questions6 {
    position: absolute;
    top: 377%;
    left: 75%;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.english {
    text-decoration: none;
    position: absolute;
    top: 410%;
    left: 10%;
    background-color: rgb(78, 78, 78);
    border-radius: 5px;
    padding-block: 7px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.vnz {
    position: absolute;
    top: 420%;
    left: 10%;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}