/* 
font-family: "Momo Trust Display", sans-serif; 
font-weight: 400;
font-style: normal;
*/

/* 
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
*/

body {
    background: #000;
    color: #fff;
}

@media (min-width: 768px) {
    body {
        font-size: 15px;
    }
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(./img/fondo.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.fondogris {
    background-color: rgb(78, 78, 78);
    border-radius: 5px;
    padding-block: 7px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
}

.fondorojo {
    background-color: red;
    border-radius: 5px;
    padding-block: 7px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 11%;
}

.titulo {
    width: 150px;
    height: 60px;
    object-fit: cover;
}

.menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 5%;
}

.menu h1{
    text-align: center;
    font-size: 3.1rem;
    margin-bottom: -30px;
    letter-spacing: 2px;
    font-family: "Momo Trust Display", sans-serif; 
    font-weight: 1000;
    font-style: normal;
}

.menu h3{
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 5%;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
}

.menu h4{
    margin-bottom: 20px;
    letter-spacing: 0.5px;
    text-align: center;
    padding-top: 5%;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.email {
    position: absolute;
    top: 65%;
    left: 25%;
    background-color: rgb(78, 78, 78);
    border-radius: 5px;
    padding-block: 16px;
    padding-left: 15px;
    padding-right: 270px;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10;
    font-style: normal;
}

.get {
    position: absolute;
    top: 67.75%;
    left: 56.5%;
    letter-spacing: 1.5px;
    background-color: red;
    border-radius: 5px;
    padding-block: 12.5px;
    padding-left: 20px;
    padding-right: 95px;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
}

a {
    color: white;
}

a:hover {
    color: #dbcdcd;
}

.trending {
    position: absolute;
    top: 120%;
    left: 18%;
    transform: translate(-50%, -50%);
    text-align: left;
    letter-spacing: 1.5px;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.pelicula {
    display: flex;
    gap: 30px;
    position: absolute;
    top: 125%;
    left: 15%;
}

.reasons {
    position: absolute;
    top: 180%;
    left: 10%;
    font-family: "Momo Trust Display", sans-serif; 
    font-weight: 400;
    font-style: normal;
}

.plantilla {
    color: #000;
    position: absolute;
    top: 195%;
    left: 11.5%;
    font-family: "Momo Trust Display", sans-serif; 
    font-weight: 400;
    font-style: normal;
}

.plantilla2 {
    color: #000;
    position: absolute;
    top: 195%;
    left: 30.1%;
    font-family: "Momo Trust Display", sans-serif; 
    font-weight: 400;
    font-style: normal;
}

.plantilla3 {
    color: #000;
    position: absolute;
    top: 195%;
    left: 50%;
    font-family: "Momo Trust Display", sans-serif; 
    font-weight: 400;
    font-style: normal;
}

.plantilla4 {
    color: #000;
    position: absolute;
    top: 195%;
    left: 69.5%;
    font-family: "Momo Trust Display", sans-serif; 
    font-weight: 400;
    font-style: normal;
}

.questions {
    position: absolute;
    top: 250%;
    left: 10%;
}

.questions2 {
    position: absolute;
    top: 260%;
    left: 10%;
}

.ready {
    position: absolute;
    top: 330%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 5%;
}

.Address {
    position: absolute;
    top: 350%;
    left: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 15px 10%;
    transform: translate(-50%, -50%);
}

.questions3 {
    position: absolute;
    top: 370%;
    left: 10%;
}

.questions4 {
    position: absolute;
    top: 377%;
    left: 35%;
}

.questions5 {
    position: absolute;
    top: 377%;
    left: 55%;
}

.questions6 {
    position: absolute;
    top: 377%;
    left: 75%;
}

.English {
    position: absolute;
    top: 410%;
    left: 10%;
}